<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 3 - Vuejs do jeito ninja</title>
</head>
<body>
    <div id="app">
        <!-- Com o v-if ele coloca ou não no html -->
        <!-- <h2 v-if="status">{{ titulo }}</h2> -->
        <!-- <div v-else> Não existe texto</div> -->
        <!-- Com o v-show ele imprime ou não o texto na tela -->
        <!-- <h1 v-show="status">{{ titulo }}</h1> -->

        <h1> {{ titulo }} </h1>
        <div v-if="usuario.id == 1">
            Id: {{ usuario.id }}, <br>
            Nome: {{ usuario.nome }}, <br>
            Profissão: {{ usuario.profissao }}
        </div>
        <div v-else=""> Nenhum usuário com o ID = 1. </div>
    </div>

    <script src="https://unpkg.com/vue"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // status: false,
                titulo: "Vuejs do jeito ninja!",
                usuario: {
                    id: 1,
                    nome: "Jon Snow",
                    profissao: "Ator"
                }
            }
        });
    </script>
</body>
</html>
